---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AboutSection from '../components/AboutSection.astro';
import LocationSection from '../components/LocationSection.astro';
import PortoSection from '../components/PortoSection.astro';
import NextOpeningSection from '../components/NextOpeningSection.astro';
import CocktailSection from '../components/CocktailSection.astro';
import MenuSection from '../components/MenuSection.astro';
import ReservationSection from '../components/ReservationSection.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Restaurante Pescador - Cocina de Mar">
  <Header />
  <main role="main">
    <Hero />
    <AboutSection />
    <LocationSection />
    <PortoSection />
    <NextOpeningSection />
    <CocktailSection />
    <MenuSection />
    <ReservationSection />
    <ContactSection />
  </main>
  <Footer />
</Layout>
