---
// Cocktail & Wine Bar Section
---

<section class="cocktail-wine image-right" aria-labelledby="cocktail-title">
  <div class="section-content fade-in">
    <h2 id="cocktail-title" style="padding-bottom: 30px;"><span>Exclusivos</span> Cócteles & Vinos</h2>
    <p>
      En Pescador Restaurante, tenemos nuestra selección de cócteles y vinos está diseñada para elevar tu experiencia gastronómica con maridajes perfectos. Disfruta de clásicos refrescantes como el Mojito Cubano, la Caipiriña, la Margarita de Mango Biche y el sofisticado Gin Tonic, cada uno preparado con ingredientes frescos que complementan los sabores del mar. Complementa tu comida con nuestra cuidada selección de vinos, que incluye espumosos, blancos, tintos y nuestra recomendada sangría, ideal para resaltar los platillos de mariscos. ¡Un deleite para los sentidos en Villavicencio!
    </p>
  </div>
  <div id="div2" class="section-image fade-in">
    <img id="img2" loading="lazy" src="/images/bebida.webp" alt="Cóctel exclusivo servido en el bar de Pescador">
  </div>
</section>