---
// Hero Section
import fach1 from '../assets/images/optimized/fachada-1.webp';
import fach2 from '../assets/images/optimized/fachada-2.webp';
import fach3 from '../assets/images/optimized/fachada-3.webp';
import fach4 from '../assets/images/optimized/fachada-4.webp';
---

<section id="hero" class="hero" aria-labelledby="hero-title" style={`background-image: url('${fach1.src}');`} data-images={JSON.stringify([fach1.src, fach2.src, fach3.src, fach4.src])}>
  <div class="fade-in">
    <h2 id="hero-title"><span>Sabores del Mar</span> Inolvidables</h2>
    <div class="buttons">
      <a href="#reservas" class="btn-reserve">Reserva Ahora</a>
      <a href="#info" class="btn-info">Más Información</a>
    </div>
  </div>
  </section>